@using Microsoft.AspNetCore.Mvc.Rendering
@model IssueViewModel

<div class="pull-left">
    <span class="id">@Model.Id</span>

    <time class="timeago" datetime="@Model.RegistrationAt.Timestamp">@Model.RegistrationAt</time>
    @Html.Partial("_Author", Model.Author)
</div>