@model IssueViewModelCollection

<div class="text-right block">
    <a asp-page="/Issues/Create" class="btn btn-success new-issue">New issue</a>
</div>

<div class="block">
    <ul class="issue-list list-group">
        @foreach (var item in Model)
        {
            <li class="issue list-group-item">
                <h4 class="list-group-item-heading">
                    <a asp-page="/Issues/Show" asp-route-id="@((int) item.Id)" class="link">
                        <span class="title">@item.Content.Title</span>
                    </a>
                </h4>
                <p class="list-group-item-text">
                    @Html.Partial("_Header", item)
                </p>
                <div>&nbsp;</div>
            </li>
        }
    </ul>    
</div>
