﻿@page "{id:int}"
@using Microsoft.AspNetCore.Mvc.Rendering
@model Issues.EditModel
@{
    ViewData["Title"] = "Edit Issue";
}

<div class="issue-edit">
    <form method="post">
        <div class="container block">
            @Html.Partial("_Header", Model.Issue)
        </div>

        @Html.Partial("_Modify", Model)

        <div class="row">
            <div class="btn-group">
                <button type="submit" class="save btn btn-success">Save Changes</button>
            </div>
        </div>
    </form>
</div>