﻿@page "{id:int}"
@model Issues.ShowModel
@{
    ViewData["Title"] = "Show";
}

<div class="issue">
    <div class="container block">
        @Html.Partial("_Header", Model.Issue)

        <div class="pull-right">
            <a asp-page="./Edit" asp-route-id="@((int) Model.Issue.Id)" class="edit btn btn-default">Edit</a>
        </div>
    </div>
    <div class="block">
        <h2 class="title">@Model.Issue.Content.Title</h2>
        <div class="description">@Model.Issue.Content.Description</div>
    </div>
</div>